<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASL Detection</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
    <style>
        body { text-align: center; font-family: Arial; }
        #video { border: 2px solid black; }
        #prediction { font-size: 24px; font-weight: bold; margin-top: 10px; }
    </style>
</head>
<body>
    <h1>ASL Detection App</h1>
    <img id="video" src="{{ url_for('video_feed') }}" width="640" height="480">
    <div id="prediction">Detected Sign: None</div>


    <script>
        var socket = io();


        socket.on('prediction', function(data){
            document.getElementById('prediction').innerText =
                "Detected Sign: " + data.text + " (" + (data.confidence*100).toFixed(1) + "%)";
        });
    </script>
</body>
</html>


